
name: Check & deploy API documentation

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'

      - name: Build Project
        run: |
          mvn clean install -DskipTests
          mvn openapi-generator:generate

  deploy-doc:
    if: ${{ github.event_name == 'push' }}
    name: Deploy API documentation on Bump.sh
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy API documentation
        uses: bump-sh/github-action@v1
        with:
          doc: serchservice
          token: ZJL2Qsnx9wPAZPuLfGoGFeCnfPaWSx3o
          file: target/openapi.json

  api-diff:
    if: ${{ github.event_name == 'pull_request' }}
    name: Check API diff on Bump.sh
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Comment pull request with API diff
        uses: bump-sh/github-action@v1
        with:
          doc: serchservice
          token: ZJL2Qsnx9wPAZPuLfGoGFeCnfPaWSx3o
          file: target/openapi.json
          command: diff
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}